.Car {
  width: 400px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 20px;

  border-radius: 5px;

  transition: border, box-shadow .3s;
  border: 1px solid #ccc;
  box-shadow: 0 4px 5px 0 #fff;
}

.Car:hover {
  border: 1px solid #aaa;
  box-shadow: 0 4px 15px 0 #fff;
  cursor: pointer;
}

.input:active, .input:focus {
  /* outline: none; */
}

.input.green {
  border: 1px solid green;
}

.input.red {
  border: 1px solid red;
}
.input.bold {
  font-weight: bold;

  border: 2px solid green;
}
